################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CRM-Dashboard/.vs/CRM-Dashboard
/CRM-Dashboard/CRM-Dashboard/bin/Debug/netcoreapp3.1
/CRM-Dashboard/CRM-Dashboard/obj
